.action-content{
    height:100%;
    min-width:100%;
    background-color:rgb(184, 214, 219);
    display: flex;
    flex-direction: column;
    

}

.insert-input-box{
    display: flex;
    flex-direction: rows;
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgb(220, 222, 235);
    align-items: center;
    justify-content: center;
}

.item-name-btn{
    margin-top:10px;
}
.update-input-box{
    display: flex;
    flex-direction: rows;
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgb(55, 139, 179);
    align-items: center;
    justify-content: center;
}

.cat-btn{
    margin:10px;
    font-size: 1.5rem;
}
.input-radio-box{
    background-color:rgb(231, 231, 219);
    margin-top:50px;
    padding:50px;
    h3{color:rgb(80, 70, 72)}
    .radio-choices{
        margin:50px;
    }
}
.edit-dropdown{
    margin: 0 auto;
    background-color:white;
}

.insert-input{
    max-width: 350px;
    margin:5px;
}

.dd-btn{
    min-width: 150px;
    background-color:rgb(80, 166, 236);
    font-size: 50px;
}
.dd-estimate-btn{
    min-width: 150px;
    background-color:rgb(236, 80, 127);
    font-size: 25px;
}

.dd-option{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width:50px;
    display: flex;
    flex-direction: row;
}

.program-item-box{
    padding:10px;
    max-width: 100%;
    margin: 0 auto;
}
.program-item-text{
    width:350px;
}

.item-units-edit{
    max-width: 100px;
}
.program-name{
    margin: 0 auto;
    max-width: 50%;
}

.save-program-btn{
    margin:10px;
    font-size: 1.5rem;
}

.cycles-box{
    background-color:transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.cycles-card{
    max-width: 100%;
    margin:5px;
    background-color:rgb(62, 173, 218);
}

.card-header{
    color:rgb(46, 82, 93);
    padding:10px;
    background-color: white;
}

.cycles-title{
    margin-top:40px;
}
.cycles-subtitle{
    padding:20px;
    margin-top:20px;
    color:white;
}