.print-big-box {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .italic {
    font-style: italic;
  }
} ///////////////
@media print {
  @page {
    size: landscape;
  }
}

.big-container {
  display: flex;
  flex-direction: column;
}
.perfect-b-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.center-table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 20px;
}
.sub-table {
  min-width: 100%;
  h4 {
    font-size: 12px;
    font-weight: 800;
  }
}

.header-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.customer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  min-width: 500px;
}

.program-title {
  text-align: center;
  margin: 2rem 0;
  font-weight: 900;
  text-transform: uppercase;
}
.recommendations {
  margin: 0 auto;
  max-width: 80%;
  h3 {
    font-size: 16px;
  }
}
.print-btn {
  margin-top: 30px;
}

.trial-btn {
  max-width: 300px;
}

.cycles-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
  align-content: center;
  justify-content: center;
}

.cycles-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  padding: 10px;
}

.additional-notes {
}

.item-name {
  min-width: 25%;
}
