.print-big-box {
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 12px;
  color: black;

  p,
  h3,
  h4,
  h5 {
    font-size: 12px;
  }

  .italic {
    font-style: italic;
  }
} ///////////////
@media print {
  @page {
    size: landscape;
  }
}
.perfect-b-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.center-table {
  display: flex;
  margin: 0 auto;
  margin: 20px;
}
.sub-table {
  width: 500px;
  .row {
    max-width: 500px !important;
  }
  h4 {
    font-weight: 900;
  }
}

.header-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.customer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  min-width: 500px;

  &-item {
    width: 100%;
    max-width: 250px;
    display: flex;
    font-family: "Poppins";
    justify-content: space-between;

    div:first-child {
      margin-left: auto;
    }
    div:last-child {
      min-width: 50%;
      text-align: center;
    }
  }
}

.program-title {
  text-align: center;
  margin: 2rem 0;
  font-weight: 900;
  text-transform: uppercase;
}

.totals {
  display: flex;
  margin-bottom: 3rem;
  &-column {
    width: 100%;
  }
  &-item {
    width: 100%;
    max-width: 250px;
    display: flex;
    font-family: "Poppins";
    justify-content: space-between;

    div:first-child {
      margin-left: auto;
      margin-right: 4px;
    }
    div:last-child {
      min-width: 50%;
      text-align: center;
    }

    .light-gray {
      background-color: lightgray;
    }
    .dark-gray {
      background-color: rgb(158, 158, 158);
    }
  }
  .bold {
    font-weight: 900;
  }
}
.recommendations {
  margin: 0 auto;
  max-width: 80%;
}
.print-btn {
  margin-top: 5rem;
}

.trial-btn {
  max-width: 300px;
}

.item-name {
  min-width: 25%;
}

.additional-notes {
  font-size: 12px;
}
