
.print-big-box{
    background-color: purple;
    height:1100px;
    transform:rotate(-90deg);
    margin-top:200px;
}///////////////

// .print-container{
//     background-color:rgb(6, 163, 190);
//     display: flex;
//     flex-direction: column;
//     width:5000px;
//     align-items: flex-start;
// }
.perfect-b-header{
    background-color:rgb(6, 163, 190);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.print-btn{
    margin-top:400px;
    transform:rotate(-90deg);
}


.print-btn-1{
    margin-top:400px;
}