.login-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d9e23;
    width: 100%;
}

.login-input-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a239e;
    width: 100%;
}